name: Ruby

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['3.1', '3.2', '3.3']
    steps:
    - uses: actions/checkout@v6

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Start Redis
      uses: shogo82148/actions-setup-redis@v1
      with:
        redis-version: 5

    - name: Run Rspec
      run: bundle exec rspec

    - name: Run Rubocop
      run: bundle exec rubocop
